/* Start body html   */
* {
    margin: 0;
    padding: 0;
  }
  /* Start NavBar */
  .navbar-brand{
    font-family: 'Calligraffitti', cursive;
  }
  .TestBG {
    height: 100%;
    width: 100%;
    background-color: #355070; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #355070, #a5a58d);
    font-family: 'Calligraffitti', cursive;
  }