/* Start body html   */
* {
  margin: 0;
  padding: 0;
}
/* Start NavBar */
.navbar-brand{
  font-family: 'Calligraffitti', cursive;
}
.TestBG {
  height: 100%;
  width: 100%;
  background-color: #355070; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #355070, #a5a58d);
  font-family: 'Calligraffitti', cursive;
  font-size: x-large;
}
.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}